<a href="https://colab.research.google.com/github/Ebuka007/Data-Science/blob/main/Assignment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Ebuka007/My-Data2.git

Cloning into 'My-Data2'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [4]:
# Read CSV file using pandas
import pandas as pd
df=pd.read_csv('/content/My-Data2/SuicidesIndia.csv')
df.head()

           State  Year Type_code  ...  Gender Age_group Total
0  A & N Islands  2001    Causes  ...  Female      0-14     0
1  A & N Islands  2001    Causes  ...  Female      0-14     0
2  A & N Islands  2001    Causes  ...  Female      0-14     0
3  A & N Islands  2001    Causes  ...  Female      0-14     0
4  A & N Islands  2001    Causes  ...  Female      0-14     0

[5 rows x 7 columns]