<a href="https://colab.research.google.com/github/Ebuka007/Data-Science/blob/main/PY_DAY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 print("Hello world")

Hello world

# Welcome to Data Science Boot Camp
## Hello Guys
### Enjoy the class
####learn python
##### Class starts today
###### Let us begin




| Class     | Description |
| ----------- | ----------- |
| Teachers      | Title       |
| Students  | Text        |

In [ ]:
print("Welcome to data science bootcamp")

Welcome to data science bootcamp

CLASS TASK
##4 simulations (Add, sub, Mul, Div)

| Syntax      | Description |
| ----------- | ----------- |
|Addition     | Title       |
| Subtraction  | Text        |
| Multiplication      | Title       |
| Division  | Text        |

In [ ]:
a= 10000
b= 50000
c=a+b
print(c)

60000

In [ ]:
a= 100000
b= 50000
c=a-b
print(c)

50000

In [ ]:
a= 2000000
b= 50000
c=a/b
print(c)

40.0

In [ ]:
a= 10000
b= 50000
c=a*b
print(c)

500000000

In [6]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 1000
Enter second number: 2000
The sum of 1000 and 2000 is 3000.0

In [7]:
# Python Program to calculate the square root
# Note: change this value for a different result
num = 9 

# To take the input from the user
#num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 9.000 is 3.000

In [24]:
# Python Program to calculate the area of a triangle

b=18
h=6

Y=0.5*b
Z=Y*h


print("The area of the Triangle with {b} base and {h} height is", Z)

The area of the Triangle with {b} base and {h} height is 54.0

In [36]:
# Python Program to calculate the area of a triangle

b=input('Enter first number: ')
h=input('Enter second number: ')

#half of base 

y= 0.5*float(b)*float(h)




print('The area of a triangle with {0} base and {1} height is {2}'.format (b,h,y))

Enter first number: 18
Enter second number: 6
The area of a triangle with 18 base and 6 height is 54.0

In [37]:
# Python Program to calculate the area of a circle

b=input('Enter first number: ')
h=input('Enter second number: ')

#half of base 

y= float(b)*float(h)**2




print('The area of a circle with {0} base and {1} height is {2}'.format (b,h,y))

Enter first number: 3.14
Enter second number: 30
The area of a circle with 3.14 base and 30 height is 2826.0

In [38]:
# Python Program to calculate the circumference of a circle

b=input('Enter first number: ')
h=input('Enter second number: ')



y= 2*float(b)*float(h)




print('The circumference of a circle with {0} pie and {1} radius is {2}'.format (b,h,y))

Enter first number: 3.14
Enter second number: 30
The circumference of a circle with 3.14 pie and 30 radius is 188.4

In [43]:
# Python Program to calculate the simple interest of a loan

b=input('Enter first number: ')
h=input('Enter second number: ')
k=input('Enter second number: ')



y= float(b)*float(h)*float(k)




print('The simple interest of a loan with {0} principal and {1}year time and {2}interest rate is {3}'.format (b,h,k,y))

Enter first number: 10000
Enter second number: 2
Enter second number: 0.15
The simple interest of a loan with 10000 principal and 2year time and 0.15interest rate is 3000.0

In [55]:
# Python Program to calculate the volume of a cylinder

r=input('Enter the radius of Clyinder: ')
h=input('Enter the height of Clyinder: ')

y= 3.14*(float(r)**2)*float(h)
y = round(y, 2)


print('The volume of Cylinder with {0} raduis and {1} height is {2}'.format (r,h,y))

Enter the radius of Clyinder: 65
Enter the height of Clyinder: 75
The volume of Cylinder with 65 raduis and 75 height is 994987.5

In [60]:
import pandas as pd


data=pd.read_csv('/content/SuicidesIndia.csv')
data

                State  Year      Type_code  ...  Gender Age_group Total
0       A & N Islands  2001         Causes  ...  Female      0-14     0
1       A & N Islands  2001         Causes  ...  Female      0-14     0
2       A & N Islands  2001         Causes  ...  Female      0-14     0
3       A & N Islands  2001         Causes  ...  Female      0-14     0
4       A & N Islands  2001         Causes  ...  Female      0-14     0
...               ...   ...            ...  ...     ...       ...   ...
237514    West Bengal  2012  Social_Status  ...    Male    0-100+   149
237515    West Bengal  2012  Social_Status  ...    Male    0-100+   233
237516    West Bengal  2012  Social_Status  ...    Male    0-100+  5451
237517    West Bengal  2012  Social_Status  ...    Male    0-100+   189
237518    West Bengal  2012  Social_Status  ...    Male    0-100+  2658

[237519 rows x 7 columns]