<a href="https://colab.research.google.com/github/Ebuka007/Data-Science/blob/main/PY_DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("""I am from Essex.
I love Python.""")

I am from Essex.
I love Python.

In [2]:
string1 = "World"
print("Hello", string1)

Hello World

In [3]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [4]:
print("Hello" + string1 + string2)

HelloWorld!

In [5]:
print("Hello %s" % string1)

Hello World

In [6]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

Actual Number = 18
Float of the number = 18.000000

In [7]:
print("Hello %s %s" %(string1,string2))

Hello World !

In [10]:
h=1000

In [11]:
%whos

Variable   Type    Data/Info
----------------------------
H          int     1000
string1    str     World
string2    str     !

In [22]:
x = "Hello Essex" 
print(x)
print(type(x))

# int type
x = 100	
print(x)
print(type(x))

# float type
x = 100.5	
print(x)
print(type(x))

# complex type
x = 1j
print(x)
print(type(x))

# list type
x = ["I", "Love", "Essex"]	
print(x)
print(type(x))

# tuple 
x = ("I", "Love", "Data Science")	
print(x)
print(type(x))

# dictonary type
x = {"name" : "Haider", "age" : 36}		
print(x)
print(type(x))

# set type
x = {"BWM", "Audi", "Honda"}
print(x)	
print(type(x))

# frozen set type
x = frozenset({"England", "Wale", "Scotland", "Northern Ireland"})
print(x)
print(type(x))

# bool type
x = True
print(x)
print(type(x))

# bytes type
x = b"Hello"
print(x)
print(type(x))

# bytearray
x = bytearray(3)
print(x)
print(type(x))

# memoryview 
x = memoryview(bytes(5))
print(x)
print(type(x))

Hello Essex
<class 'str'>
100
<class 'int'>
100.5
<class 'float'>
1j
<class 'complex'>
['I', 'Love', 'Essex']
<class 'list'>
('I', 'Love', 'Data Science')
<class 'tuple'>
{'name': 'Haider', 'age': 36}
<class 'dict'>
{'Honda', 'Audi', 'BWM'}
<class 'set'>
frozenset({'England', 'Wale', 'Northern Ireland', 'Scotland'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00')
<class 'bytearray'>
<memory at 0x7f7e5e7b8ae0>
<class 'memoryview'>

In [24]:
# bytearray
x = bytearray(3)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00')
<class 'bytearray'>

In [23]:
# bytes type
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>