<a href="https://colab.research.google.com/github/Ebuka007/Data-Science/blob/main/PY_DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("""I am from Essex.
I love Python.""")

I am from Essex.
I love Python.

In [ ]:
string1 = "World"
print("Hello", string1)

Hello World

In [ ]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [ ]:
print("Hello" + string1 + string2)

HelloWorld!

In [ ]:
print("Hello %s" % string1)

Hello World

In [ ]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

Actual Number = 18
Float of the number = 18.000000

In [ ]:
print("Hello %s %s" %(string1,string2))

Hello World !

In [ ]:
h=1000

In [ ]:
%whos

Variable   Type    Data/Info
----------------------------
H          int     1000
string1    str     World
string2    str     !

In [ ]:
x = "Hello Essex" 
print(x)
print(type(x))

# int type
x = 100	
print(x)
print(type(x))

# float type
x = 100.5	
print(x)
print(type(x))

# complex type
x = 1j
print(x)
print(type(x))

# list type
x = ["I", "Love", "Essex"]	
print(x)
print(type(x))

# tuple 
x = ("I", "Love", "Data Science")	
print(x)
print(type(x))

# dictonary type
x = {"name" : "Haider", "age" : 36}		
print(x)
print(type(x))

# set type
x = {"BWM", "Audi", "Honda"}
print(x)	
print(type(x))

# frozen set type
x = frozenset({"England", "Wale", "Scotland", "Northern Ireland"})
print(x)
print(type(x))

# bool type
x = True
print(x)
print(type(x))

# bytes type
x = b"Hello"
print(x)
print(type(x))

# bytearray
x = bytearray(3)
print(x)
print(type(x))

# memoryview 
x = memoryview(bytes(5))
print(x)
print(type(x))

Hello Essex
<class 'str'>
100
<class 'int'>
100.5
<class 'float'>
1j
<class 'complex'>
['I', 'Love', 'Essex']
<class 'list'>
('I', 'Love', 'Data Science')
<class 'tuple'>
{'name': 'Haider', 'age': 36}
<class 'dict'>
{'Honda', 'Audi', 'BWM'}
<class 'set'>
frozenset({'England', 'Wale', 'Northern Ireland', 'Scotland'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00')
<class 'bytearray'>
<memory at 0x7f7e5e7b8ae0>
<class 'memoryview'>

In [ ]:
 a = 10
b = 10
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
x = 55

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
cars = ["bmw", "audi", "honda"]
for x in cars:
  print(x)

bmw
audi
honda

In [ ]:
for x in "bmw":
  print(x)

b
m
w

In [ ]:
cars = ["bmw", "audi", "honda"]
for x in cars:
  print(x)
  if x == "audi":
    break

bmw
audi

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(4, 10):
  print(x)

4
5
6
7
8
9

In [ ]:
for x in range(a, z):
  print(x)

NameError: ignored

In [46]:
def my_function():
  print("Hello, this is my first function")

In [47]:
 my_function()

Hello, this is my first function

In [52]:
def my_function(car_model):
  print("BMW " + car_model)

my_function("520d")
my_function("320i")
my_function("320d")

BMW 520d
BMW 320i
BMW 320d

In [53]:
def my_function(car_name, car_model):
  print(car_name + " " + car_model)

my_function("Tesla", "Model X")

Tesla Model X

In [54]:
def my_function(*cars):
  print("In BMW, I like " + cars[2])

my_function("X7", "X3", "X1")

In BMW, I like X1

In [57]:
%whos
cars

Variable      Type        Data/Info
-----------------------------------
H             int         1000
a             int         10
b             int         10
cars          list        n=3
i             int         3
my_function   function    <function my_function at 0x7f7e5e70c0e0>
string1       str         World
string2       str         !
x             int         9

['bmw', 'audi', 'honda']

In [55]:
def my_function(car = "Tesla"):
  print("My favroite car is " + car)

my_function("BMW")
my_function("Audi")
my_function()
my_function("Honda")

My favroite car is BMW
My favroite car is Audi
My favroite car is Tesla
My favroite car is Honda

In [58]:
def my_function(cars):
  for x in cars:
    print(x)

fruits = ["bmw", "audi", "honda"]

my_function(fruits)

bmw
audi
honda

In [59]:
def my_function(x):
  return 5 * x

print(my_function(10))
print(my_function(20))
print(my_function(30))

50
100
150

In [61]:
class MyClass:
  x = 10

In [62]:

p1 = MyClass()
print(p1.x)

10

In [63]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Student("Alex", 22)

print(p1.name)
print(p1.age)

Alex
22

In [64]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name )

p1 = Student("Ali", 24)
p1.myfunc()

Hello my name is Ali

In [65]:
class Student:
  def __init__(blabla, name, age):
    blabla.name = name
    blabla.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Student("Ali", 24)
p1.myfunc()

Hello my name is Ali

In [69]:
p1.age = 40
print(p1.age)

40

In [70]:
del p1.age
print(p1.age)

AttributeError: ignored